<meta charset="utf-8">
<title>SampleWebApp</title>
<form action="compute" method="post">
 <h1>Kalan Yaşınızı Öğrenmek İster misiniz ?</h1>
 

 <style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
  <hr>
 <div>
<h3 rows = "5" cols ="15"> Yasiniz </h3>
<textarea name="input1"></textarea>
 </div>
 <hr>
 <div>
<h3 rows = "5" cols ="15"> Gunluk Ictiginiz Sigara Miktari : </h3>
<textarea name="input2"></textarea>
 </div>
 <hr>
 <div>
<h3 rows = "5" cols ="15"> Haftada Kaç Gün Spor Yapıyorsunuz : </h3>
 <textarea name="input3" ></textarea>
 </div>
 
 <br>
 <input type="submit" style = "text-align: center;">

 <hr>
 <h1 style="color:red">Ömrünüzden Kalan Yıl :{{result}}  </h1>
 <hr>
 Girilen Yas:{{yas}} Girilen Sigara:{{sigara}} Girilen Spor:{{spor}}
 </form>

